

/***** FONT ******/
@font-face {
    font-family: 'PlaylistScript';
    src: url('./PlaylistScript.otf');
    font-weight: normal;
    font-style: normal;
  }

.playlist {
    font-family: 'PlaylistScript';
}

.playfair {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
  }

  .quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .birthstone {
    font-family: "Birthstone Bounce", serif;
    font-weight: 500;
    font-style: normal;
  }

  .cormorant_font {
    font-family: "Cormorant SC", serif;
    font-weight: 400;
    font-style: normal;
  }
/***** HOME *****/
.home {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    text-align: center;
    display: flex;
    flex-direction: column;
}

.home_right_flowers {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 50%;
    opacity: 0.4;
}

.home_side_flowers {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 35%;
    opacity: 0.4;
}

.home_bao {
    position: absolute;
    z-index: -1;
    opacity: 0.2;
    right: 31%;
    width: 15%;
}

.home_baby_shower {
    color: #bbd4bd;
    text-align: center;
    font-size: clamp(3.5rem, 22vw, 11rem);
    line-height: 0.9;
    margin-top: 5%;
}

.home_join_us {
    font-size: clamp(1.5rem, 3vw, 4rem);
}

.home_hanjing { 
    font-size: clamp(1.5rem, 10vw, 5rem);
    line-height: 0.9;
}

.name-wrapper {
    display: flex;
    justify-content: center; /* Center all content */
    align-items: center;     /* Align items vertically */
    flex-wrap: wrap;         /* Wrap items on small screens */
}

.home_and {
    position: static;        /* Remove absolute positioning */
    color: #d6ccc2;
    font-size: clamp(1.5rem, 5vw, 3rem);
    margin: 0 0.5rem;        /* Adjust spacing if needed */
}

.date-container {
    text-align: center;
    margin: 20px;
    width: 80%;
  }
  
  .top-line,
  .bottom-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    color: #bbb2a8;
  }
  
.line {
    flex: 1;
    height: 1px;
    background-color: #bbb2a8
  }
  
  .center-text {
    margin: 0 10px; /* Space around the centered text */
    font-size: clamp(1.2rem, 2vw, 3rem);
  }
  
  .main-text {
    font-size: clamp(1.5rem, 2vw, 5rem);
    margin: 10px 0;
    margin-top: -2%;
    margin-left: -2%;
    color: #84a998;
  }

  .two {
    font-size: 4rem;
  }
  
  .first_pipe, .second_pipe {
    font-size: 3rem;
    padding: 0 2%;
    color: #d6ccc2;
  }

  .nd {
    margin-left: -6px;
  }

  .home_address {
    font-size: clamp(1.2rem, 2vw, 1.5rem)
  }


  /***** DETAILS *****/
  .details {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    text-align: center;
    /* display: flex; */
    /* flex-direction: column; */
    background-color: rgba(246, 236, 225, 0.5);
  }

  .details_flowers {
    top: 0;
    left: 0;
    transform: scaleX(-1);
    width: 72%;
    position: absolute;
    z-index: -1;
  }

  .details_title {
    color:#84a998;
    margin: 50px 0 27px 0;
    font-size: clamp(4rem, 7vw, 6rem);
  }

  .details_location {
    font-size: clamp(1.5rem, 3vw, 3rem);
  }

  .details_info {
    text-align: right;
  }

  .details_info p {
    letter-spacing: 90;
    line-height: 1.3;
  }

  .details_all {
    font-size: clamp(1.2rem, 2vw, 1.3rem);
    padding: 30px 0 27px 0;
  }

/***** RSVP *****/
.rsvp {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    text-align: center;
    display: flex;
    flex-direction: column;
}


.rsvp_title {
    color:#84a998;
    margin: 50px 0 27px 0;
    font-size: clamp(5rem, 9vw, 8rem);
  }

  .rsvp_flowers {
    position: absolute;
    transform: scale(-1);
    z-index: -2;
    width: 50%;
    right: 0;
    opacity: 0.2;
    bottom: 0;
  }

  .bold {
    font-weight: 900;
  }

  .rsvp_bao {
    position: absolute;
    width: 49%;
    z-index: -1;
    top: 4%;
    left: -14%;
    opacity: 0.2;
}

    .rsvp_bao_bt {
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 0;
        width: 50%;
        opacity: 0.5;
    }

   /***** RSVP FORM PORTRAIT ****/
   #RSVP_form {
    /* height: 130vh;  */
    width: 100%; 
    text-align: left;
    display: flex; 
    flex-direction: column; 
    align-items: left;
    padding-bottom: 20px; 
    box-sizing: border-box; 
    position: relative; 
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 2s ease-out; /* Ensures smooth fade */
}

.form {
  text-transform: uppercase;
    width: 75%;
    text-align: left;
    color: #84a998;
    margin: 40px;
}

.button {
    background-color: #d6ccc2;
    color: white;
    border: none;
    margin-bottom: 20%;
}

.button:hover {
    background-color: #F5EBE0;
}


/****** SUCCESS SCREEN MODAL ON FORM SUBMIT *****/
#modalTitle {
    font-size: 2rem; 
    text-transform: uppercase;
}
#modalMessage {
    text-align: center;
}

/***** REGISTRY *****/
.registry {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    /* justify-content: center; Horizontal centering */
    align-items: center; /* Vertical centering */
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(229, 240, 229, 0.4);
}

.registry_title {
    color:#84a998;
    margin: 50px 0 27px 0;
    font-size: clamp(5rem, 9vw, 8rem);
}

.registry_baos {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 80%;
}

.registry_flowers {
    position: absolute;
    width: 80%;
    top: 0;
    z-index: -1;
    right: 0;
    opacity: 0.4;
}
.babylist_img {
    width: 200px;
    margin: 5%;
  }
  

/***** COUNTDOWN *****/
.countdown {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    text-align: center;
    display: flex;
    flex-direction: column;
}

.countdown_title {
    color:#84a998;
    margin: 50px 0 27px 0;
    font-size: clamp(5rem, 9vw, 8rem);
}

.countdown_bcg {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: -7%;
    opacity: 0.8;
}

.clock_all {
  position: relative;
  z-index: 10;
}

.countdown_description {
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    z-index: 10;
    font-family: "Quicksand", serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 10%;
  }
  
  #clockdiv>div {
      padding: 10px;
      border-radius: 3px;
      display: inline-block;
      background-color: #d6ccc2;
  }
  
  #clockdiv div>span {
      font-size: 2.5rem;
      font-family: "Quicksand", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      color:white;
      font-display: swap;
  }
  
  /* Style for visible text */
  .smalltext {
      font-family: "Playfair Display SC", serif;
      font-weight: 300;
      font-style: normal;
      font-display: swap; 
      color: white;
  }
  
  .countdown_title {
      width: 90%;
      margin-bottom: 10%;
      margin-top: 10%;
  }
  
  .countdown_img {
    margin-top: 100px;
    width: 250px;
  }
  
  .bottom {
    position: absolute;
    bottom: 0;
  }
  
  .countdown_flowers {
    position: absolute;
    width: 70%;
    z-index: -1;
    top: -20%;
    rotate: 90deg;
    opacity: 0.3;
  }

  img {
    border: none !important;
    content: normal !important;
  }

  .photos_button {
    position: absolute; 
    bottom: 5%; 
    text-align: right;
    background-color: #84a998;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    left: 35%;
  }

  /***** MOBILE PORTRAIT *******/
  @media only screen and (max-width: 480px) and (orientation: portrait) {
    /*** HOME ***/
    .home_side_flowers {
        width: 60vw;
    }
    
    .home_right_flowers {
        width: 95vw;
    }

    .home {
        margin-top: -20%;
        margin-bottom: 20%;
    }

    .date-container {
        position: absolute;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        bottom: 10%;
    }

    .home_address {
        position: absolute; /* Anchor to the bottom of .home */
        bottom: 0; 
        right: 0;  /* Aligns to the right side */
        padding: 10px; /* Optional padding for spacing */
        text-align: right;
        width: 100%; /* Optional: makes it stretch full width */
        background-color: rgba(255, 255, 255, 0.7); /* Optional: adds contrast if needed */
    }

    .home_bao {
        position: absolute;
        z-index: -1;
        opacity: 0.5;
        right: 19%;
        bottom: 31%;
        width: 37%;
    }

    /** RSVP **/
    .rsvp_flowers {
        width: 80%;
    }

    /**** REGISTRY ****/
    .babylist_img {
        width: 150px;
      }

      /***** PHOTOS ****/
      iframe {
        height: 480px;
        width:640px;
      }

      .photos_button {
        left: 35%;
      }

  }

  @media only screen and (max-width: 683px) {
    /*** HOME ***/
    .home_and {
        transform: translate(-309%, 81%);
    }

    .main-text {
        margin-top: -6%;
      }
  }



  /***** GALLERY *****/
.photos_title {
  margin: 5%;
  text-align: center;
  font-size: 5rem;
}

.photo_section {
  width: 100%;
  min-height: 100vh;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.gallery img {
  width: 150px; /* Thumbnail size */
  height: 125px; /* Adjust as needed */
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s;
    
}

.gallery img:hover {
  transform: scale(1.1);
}

/* Modal Styles */
.modal_images {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal_images img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.modal_images:target {
  display: flex;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.459);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

iframe {
  height: 80%;
  width: 80%;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  position: absolute;
  top: 50%;
  z-index: 1100;
}

.modal-nav {
  background-color: rgba(255,255,255,0.5);
  border: none;
  font-size: 1.5rem;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.modal-nav:hover {
  background-color: rgba(255,255,255,1);
}

